:root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #e7000b;
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #91c5ff;
    --chart-2: #3a81f6;
    --chart-3: #2563ef;
    --chart-4: #1a4eda;
    --chart-5: #1f3fad;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #171717;
    --card-foreground: #fafafa;
    --popover: #262626;
    --popover-foreground: #fafafa;
    --primary: #e5e5e5;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #404040;
    --accent-foreground: #fafafa;
    --destructive: #ff6467;
    --destructive-foreground: #fafafa;
    --border: #282828;
    --input: #343434;
    --ring: #737373;
    --chart-1: #91c5ff;
    --chart-2: #3a81f6;
    --chart-3: #2563ef;
    --chart-4: #1a4eda;
    --chart-5: #1f3fad;
    --sidebar: #171717;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #1447e6;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #282828;
    --sidebar-ring: #525252;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Inter Variable', sans-serif;
}

@theme inline {
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: SFMono-Regular;
  --font-serif: Georgia;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2273 0.0038 286.0916);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2273 0.0038 286.0916);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2273 0.0038 286.0916);
  --primary: oklch(0.6321 0.2018 254.0879);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0.2273 0.0038 286.0916);
  --muted: oklch(0.9707 0.0027 286.3504);
  --muted-foreground: oklch(0.5358 0.0046 286.2428);
  --accent: oklch(0.9310 0 0);
  --accent-foreground: oklch(0.2273 0.0038 286.0916);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.6321 0.2018 254.0879);
  --chart-1: oklch(0.6321 0.2018 254.0879);
  --chart-2: oklch(0.7622 0.1460 233.1898);
  --chart-3: oklch(0.8587 0.1004 221.0308);
  --chart-4: oklch(0.9171 0.0672 213.7989);
  --chart-5: oklch(0.9531 0.0422 209.3500);
  --radius: 0.5rem;
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2273 0.0038 286.0916);
  --sidebar-primary: oklch(0.6321 0.2018 254.0879);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9310 0 0);
  --sidebar-accent-foreground: oklch(0.2273 0.0038 286.0916);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.6321 0.2018 254.0879);
  --font-sans: 'Inter Variable', sans-serif;
  --font-serif: Georgia;
  --font-mono: SFMono-Regular;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2273 0.0038 286.0916);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.2273 0.0038 286.0916);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.2273 0.0038 286.0916);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.6321 0.2018 254.0879);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2939 0.0036 286.1773);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.3492 0.0034 286.2208);
  --muted-foreground: oklch(0.7520 0.0057 286.2629);
  --accent: oklch(0.3492 0.0034 286.2208);
  --accent-foreground: oklch(0.9551 0 0);
  --destructive: oklch(0.6633 0.2236 28.2919);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4024 0.0033 286.2501);
  --input: oklch(0.2939 0.0036 286.1773);
  --ring: oklch(0.6321 0.2018 254.0879);
  --chart-1: oklch(0.6321 0.2018 254.0879);
  --chart-2: oklch(0.7622 0.1460 233.1898);
  --chart-3: oklch(0.8587 0.1004 221.0308);
  --chart-4: oklch(0.9171 0.0672 213.7989);
  --chart-5: oklch(0.9531 0.0422 209.3500);
  --radius: 0.5rem;
  --sidebar: oklch(0.2273 0.0038 286.0916);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6321 0.2018 254.0879);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3492 0.0034 286.2208);
  --sidebar-accent-foreground: oklch(0.9551 0 0);
  --sidebar-border: oklch(0.4024 0.0033 286.2501);
  --sidebar-ring: oklch(0.6321 0.2018 254.0879);
  --font-sans: 'Inter Variable', sans-serif;
  --font-serif: Georgia;
  --font-mono: SFMono-Regular;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 6px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 6px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 6px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 6px 12px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Custom smooth skeleton animation - 2 seconds */
@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}